# eclipse
bin
*.launch
.settings
.settings/*
.metadata
.classpath
.project
lib/*

# idea
out
.idea


# gradle
build
.gradle

# other
eclipse
run
classes
*.hprof

/README.txt
/forge-*-changelog.txt

secret.json
libs/*
!/libs/README.txt

.DS_Store
.okhttpcache/*
/lib/
*secrets*
/gradle.properties
/acore-0.16.jar
/psd/
/archive/
